- White: hsl(0, 0%, 100%);
- Light gray: hsl(212, 45%, 89%);
- Grayish blue: hsl(220, 15%, 55%);
- Dark blue: hsl(218, 44%, 22%);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    font-size: 15px;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(220, 15%, 55%);
}

img{
    max-width: 100%;
    min-height: auto;
    object-fit: contain;
}

body{
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card{
  background-color: white;
  width: 20rem;
  height: auto;
  padding: 1.25rem;
  border-radius: 0.8rem;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card-img{
    border-radius: 1rem;
}

.card-title{
    text-align: center;
    font-size: 1.5rem;
}

